<%- include('partials/head') %>
<%- include('partials/nav') %>

<main>
    <h2>Crear producto</h2>
    <form id="form-crear" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Nombre" required>
        <label>Tipo</label>
        <select name="type" required>
            <option value="" disabled selected>Seleccione una categoría</option>
            <option value="Autoparte">Autoparte</option>
            <option value="Servicio">Servicio</option>
        </select>
        <input type="number" name="price" placeholder="Precio" required>
        <label>Imagen:</label>
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Guardar</button>
    </form>
    <pre id="resultado-crear"></pre>
</main>

<script src="/js/create.js"></script>

<%- include('partials/footer') %>
