<footer class="main-footer">
	<div class="footer-content">
		<p>
			&copy; 2025 <strong>AutoParts System</strong>
		</p>
		<p style="font-size: 0.9rem; color: #ccc;">Desarrollado por Mateo Terrile y Martin Moyano</p>
	</div>
</footer>