<nav>
    <ul>
        <li><a href="/index">Ver</a></li>
        <li><a href="/consultar">Consultar id</a></li>
        <li><a href="/crear">Crear</a></li>
        <li><a href="/modificar">Modificar</a></li>
        <li><a href="/eliminar">Eliminar</a></li>
        <li>
            <form action="/logout" method="POST" style="display:inline;">
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
</nav>
